<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">

        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pinUam24.png"> 
        <title>Archinaut</title>
    </head>
    <body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      	
      <script>
      
   $(document).ready(function(){
    	
	   	  google.charts.load('current', {'packages':['corechart']});//Importa el tipo de grafica que se utilizara
	   
    	  $.ajaxSetup({contentType: "application/json; charset=utf-8"});
     		
     	  var URL = "http://localhost:8080/informes/123456789";
     	  
    	  var headers;
    	  
    	  var cont;//Contador para el numero de clases de cada informe
    	  
    	  var informe = [];//Se crea un arreglo que se usara como matriz bidimensional
    	  
    	  var crono = [];//Se crea un arreglo que se usara como matriz tridimensional
     		
          console.log("Ready");
	       	
     	  $.get(URL,cargaInformes);
    	  
     	 function cargaInformes(lista){ 
     		 
       		// Recorre los objetos
       		var i;
       		
       		//Loas Siguientes 3 lineas son para sacar los encabezados
	     	var allText = lista[0].analysis;	
	 		//Se parte el texto en renglones
	 		var allRows = allText.split(/\r\n|\n/);
	 		//Guardamos los encabezados en una variable aparte
	 		headers = allRows[0].split(',');
       		
	 		//Guardamos la cantidad de clases que hay en el proyecto
	 		cont = allRows.length;
	 		
       		//Manipulannos cada informe para guardarlo en la matriz
       		for (i=0;i<lista.length;i++) {
 	     		allText = lista[i].analysis;
	
 			   //Se parte el texto en renglones
 			   allRows = allText.split(/\r\n|\n/);

 		       for (var k = 1; k < allRows.length; k++) {
 		           
 		    	   var rowCells = allRows[k].split(',');
 		           
 		    	   //Guarda el arreglo de datos que hay en una linea en el arreglo de arreglos llamado informe por lo tanto lines se vuelve matriz
 				   informe.push(rowCells);
 		       }
 		       crono.push(informe);
 		       informe = [];//Reiniciamos la matriz despues de guardar en informe en la cronologia
       		}
       		
       		drawChart();
  		}
    	     
     	 //Nota manejo de matriz: matriz[profundidad][renglones][columnas]
  		//                               informes      clases     datos
  		
    	  	function drawChart() {
				
    	  		for(var i=29; i<40; i++){
   	    			 $("#graficas").append($("<pre><h2>	"+crono[0][i][0]+"</h2></pre><div id="+i+"  style=\"width: 100%; height: 500px;\"></div>"));
      	    		  		
   	    			 	var report = [
      	    	            ['Commit Num.', ""+headers[8]+"", ""+headers[9]+"", ""+headers[10]+""],
      	    	            
      	    	          ];
   	    			 	
   	    			 	console.log("numero de informes: "+crono.length);
   	    			 	for(var j=0; j<crono.length;j++){
   	    			 		var commit = [''+(j+1)+'',  parseInt(crono[j][i][8]),      parseInt(crono[j][i][9]),	parseInt(crono[j][i][10])];
   	    			 		report.push(commit);
   	    			 		console.log(commit);
   	    			 	}	    			 	
   	    			 
      	    		  	 var data = google.visualization.arrayToDataTable(report);

      	    	          var options = {
      	    	        	title: "Revisions: begin "+crono[0][i][7]+" -> last "+crono[crono.length-1][i][7]
      	    	        		+"\n CoChange Partners: begin "+crono[0][i][11]+" -> last "+crono[crono.length-1][i][11]
      	    	        		+"\n Bug Commits: begin"+crono[0][i][12]+" -> last "+crono[crono.length-1][i][12]
      	    	        		+"\n Changed lines: begin "+crono[0][i][13]+" -> last "+crono[crono.length-1][i][13],
      	    	            hAxis: {title: 'Commits',  titleTextStyle: {color: '#333'}},
      	    	            vAxis: {minValue: 0}
      	    	          };

      	    	          var chart = new google.visualization.AreaChart(document.getElementById(""+i+""));
      	    	          chart.draw(data, options);
    	  		}
    	  	}
    });
      		
      
      </script>
      
      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Options</p>
              <ul class="menu-header">
                <!--  <li><img src="img/iconos/pinUam16.png" alt=""> <a href="/">Inicio</a></li>-->
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="graficasSCC">Watch SCC</a></li>
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="graficasDpnds">Watch Depends</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">Depends Analysis</h2>
            <img src="img/iconos/pinUam48.png" alt="">
            
          </nav>
        </div>

        <div class="contenedor-graficas" id="graficas">
          
            <!-- GRAFICAS -->
            
        </div>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
              <p class="copyright">Todos los Derechos Reservados UAM-I 2020 &copy;</p>
          </div>
        </footer>
    </body>
</html>