<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">

        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
        
        <!-- Chart js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
        
        <!-- Vue js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        
        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pinUam24.png"> 
        <title>Archinaut</title>
    </head>
    <body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      	    
      <script>
   
  	 var URL = "http://localhost:8080/tool";
	  
	 var crono = [];//Se crea un arreglo que se usara como matriz tridimensional
	 
	 var configurationsList = [];//Se crea un arreglo que se usara como matriz tridimensional
	 
	 var metric = "";
	 
	 var threshold = "";
	 
	 function saveMetric(){
		 this.metric = document.getElementById("metricSelection").value;
		 search();
	 }
      
   $(document).ready(function(){
	   
    	 $.ajaxSetup({contentType: "application/json; charset=utf-8"});
	     
    	 var metricsURL = URL+"/list";
    	 
    	 var configurationsURL = URL+"/configuration/project/hdmsantander-snake";
    	 
     	 $.get(metricsURL,processMetrics);
     	 
     	 $.get(configurationsURL,processConfigurations);
    });
   
   function processConfigurations(list){ 
	   configurationsList = list;
	   console.log(list);
	}
   
   function processMetrics(list){ 
	 		
	  	for(i=0; i<list.length;i++){
			element = list[i];
			
			var objOption = new Option(list[i], list[i]);
                
            document.getElementById("metricSelection").add( objOption );
		}
	 		
	}
   
	function search(){ 
    		
		$.ajaxSetup({contentType: "application/json; charset=utf-8"});
	    
		var searchURL = URL+"/"+this.metric+"/report/dfsd";
		
    	$.get(searchURL,processReports);
    	
    	
	 		
	}
	
	function processReports(list){ 
		
		crono = list;
	 	
	  	drawChart();
	 		
	}
   
	function drawChart() {
  		 
 	  		for(var i=0; i<crono.length; i++){
 	  			
 	  			var labels = [];
 	  			
 	  			for(var j=0; j<crono[0].results.length; j++){
 	  				var numCommit = j+1;
 	  				labels.push("Commit: "+numCommit);
 	  			}
 	  			
 	  			$("#ctnr-graficas").append($("<canvas id="+i+" width=\"400\" height=\"100\"></canvas>"));

 	  		 	var ctx= document.getElementById(i).getContext("2d");
	  	        
 	  		 	var myChart= new Chart(ctx,{
	  	            type:"line",
	  	            data:{
	  	                labels:labels,
	  	                datasets:[
	  	                	{
	  	                        label:this.metric,
	  	                        data:crono[i].results,
	  	                      	backgroundColor: 'rgb(243, 49, 49,0.8)'
	  	                	}]
	  	            	},
	  	          	options:{
	  	          		elements: {
	  	              		line: {
	  	                 		tension: 0 // disables bezier curves
	  	              		}
	  	         		},
	  	          	  	title: {
	  	              		display: true,
	  	                	fontSize: 20,
	  	                	fontColor: '#000',
	  	              		text: "Analysis Result: "+crono[i].fileName
	  	          	  	},
	                  	scales:{
	                      yAxes:[{
	                              ticks:{
	                                  beginAtZero:true
	                              }
	                      }]
	                  	}
	              	  }
	  	        	});
 	  		}
 	}
	
	
	
	function saveThresholdValue(){
		 this.threshold = document.getElementById("thresholdInput").value;
		 console.log(this.threshold);
	}
    
	function saveThreshold(){
		console.log("Saving Threshold");
		
	}
      </script>
      
      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Options</p>
              <ul class="menu-header">
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="/">Inicio</a></li>
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="graficas">Graficas</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">Analysis Results</h2>
            <img src="img/iconos/pinUam48.png" alt="">
            
          </nav>
        </div>
		<main class="container seccion contenido-centrado">
            <h2 class="centrar-texto">Select the metric for which you want to see the results</h2>

            <form class="registro" action="">
                <fieldset>
                    <legend class="centrar-texto">Metric Selection</legend>
                    
                    <label for="metricSelection">Metric:</label>
                    <select id="metricSelection" onchange="saveMetric()" required>
                    	<option value="" disabled selected>--Select Metric--</option>
                       	<!-- Options se insertan con JS -->
                    </select>
                    
					<label for="thresholdInput">Metric Threshold:</label>
                    <input id="thresholdInput" type="number" onkeyup="saveThresholdValue()"></input>
					
					<a style="color: #ffffff;" id="botonSaveThreshold" class="boton boton-rojo" href='javascript:;' onclick="saveThreshold();">Save Metric Threshold</a>
					<a style="color: #ffffff;" id="botonSaveThreshold" class="boton boton-verde" href='javascript:;' onclick="getHigher();">Higher than Average</a>
					<a style="color: #ffffff;" id="botonSaveThreshold" class="boton boton-verde" href='javascript:;' onclick="getLower();">Lower than Average</a>
                </fieldset>

            </form>
        </main>
        <div class="contenedor-graficas" id="ctnr-graficas">
        	<h2 class="centrar-texto">Results</h2>
            <!-- GRAFICAS -->
        </div>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
          	<nav class="navegacion-footer">
                  <a href="/">Inicio</a>
                  <a href="graficas">Ver Graficas</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados UAM-I 2020 &copy;</p>
          </div>
        </footer>
    </body>
</html>