<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">

        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pinUam24.png"> 
        <title>Archinaut</title>
    </head>
    <body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      
      <script type="module">

import AWS from 'aws-sdk/global';
import Lambda from 'aws-sdk/clients/lambda';
import { getInput, setOutput, setFailed } from '@actions/core';

const apiVersion = '2015-03-31';

export enum ExtraOptions {
  HTTP_TIMEOUT = 'HTTP_TIMEOUT',
  MAX_RETRIES = 'MAX_RETRIES',
  SUCCEED_ON_FUNCTION_FAILURE = 'SUCCEED_ON_FUNCTION_FAILURE',
}

export enum Credentials {
  AWS_ACCESS_KEY_ID = 'AKIAJ4IM3DMMT6VPB3CA',
  AWS_SECRET_ACCESS_KEY = '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',
  AWS_SESSION_TOKEN = 'AWS_SESSION_TOKEN',
}

export enum Props {
  FunctionName = 'getDataAnalysis',
  InvocationType = 'RequestResponse',
  LogType = 'Tail',
  ClientContext = 'ClientContext',
  Payload = 'Payload',
  Qualifier = 'Qualifier',
}

const setAWSCredentials = () => {
  AWS.config.credentials = {
    accessKeyId: getInput(Credentials.AWS_ACCESS_KEY_ID),
    secretAccessKey: getInput(Credentials.AWS_SECRET_ACCESS_KEY),
    sessionToken: getInput(Credentials.AWS_SESSION_TOKEN),
  };
};

const getParams = () => {
  return Object.keys(Props).reduce((memo, prop) => {
    const value = getInput(prop);
    return value ? { ...memo, [prop]: value } : memo;
  }, {} as Lambda.InvocationRequest);
};

const setAWSConfigOptions = () => {
  const httpTimeout = getInput(ExtraOptions.HTTP_TIMEOUT);

  if (httpTimeout) {
    AWS.config.httpOptions = { timeout: parseInt(httpTimeout, 10) };
  }

  const maxRetries = getInput(ExtraOptions.MAX_RETRIES);

  if (maxRetries) {
    AWS.config.maxRetries = parseInt(maxRetries, 10);
  }
};

export const main = async () => {
  try {
    setAWSCredentials();

    setAWSConfigOptions();

    const params = getParams();

    const lambda = new Lambda({ apiVersion, region: getInput('REGION') });

    const response = await lambda.invoke(params).promise();

    setOutput('response', response);

    const succeedOnFailure =
      getInput(ExtraOptions.SUCCEED_ON_FUNCTION_FAILURE).toLowerCase() ===
      'true';
    if ('FunctionError' in response && !succeedOnFailure) {
      throw new Error(
        'Lambda invocation failed! See outputs.response for more information.'
      );
    }
  } catch (error) {
    setFailed(error.message);
  }
};
      </script>
      
      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Contenido de la Página</p>
              <ul class="menu-header">
                <!--  <li><img src="img/iconos/pinUam16.png" alt=""> <a href="/">Inicio</a></li>-->
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="graficasSCC">Ver SCC</a></li>
                <li><img src="img/iconos/pinUam16.png" alt=""> <a href="graficasDpnds">Ver Depends</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">Interface de Archinaut</h2>
            <img src="img/iconos/pinUam48.png" alt="">
            
          </nav>
        </div>

        <div class="contenedor-presentacion">
          <div class="fondo-transparente">
            <div class="presentacion container">
              <div class="contenido-presentacion">
                <h2 class="centrar-texto">Bienvenido a Interface de Archinaut!</h2>

                <p class="justificar">Archinaut es una accion de github dedicada al analisis de la arquitectura de un proyecto de software.</p>
                
                <a class="boton boton-verde" href="graficasSCC">Borrador de Visualizador de Graficas</a>
              </div>
            
            </div>
          </div>
        </div>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
              <nav class="navegacion-footer">
                  <a href="/">Inicio</a>
                  <a href="graficasSCC">Ver SCC</a>
                  <a href="graficasDpns">Vern Depends</a>
              </nav>

              <p class="copyright">Todos los Derechos Reservados UAM-I 2020 &copy;</p>
          </div>
        </footer>
    </body>
</html>